*{
    font-family: 'Poppins', sans-serif;
}

#flexSwitchCheckChecked {
    height: 22px;
    width: 40px;
}

label {
    margin-top: 3px;
    margin-left: 5px;
}

.progress {
    height: 6px;
    margin-top: 10px;
}

.light {
    background-color: white;
    color: black;
}

.dark {
    background-color: rgb(32, 33, 36);
    color: white;
}